#death-overlay {
    background-color: rgba(0, 0, 0, 0.63);
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    flex-grow: 1;
}

#death-title {
    font-size: var(--text-large);
}

#reason-panel {
    flex-direction: row;
}

#reason-label {
    -unity-text-align: middle-right;
    color: rgb(183, 183, 183);
}

#reason-content {
}

#respawn-panel {
    width: 12%;
    height: 8%;
    margin-top: 16px;
    align-items: center;
}

#respawn-button {
    position: absolute;
    align-self: stretch;
    align-content: stretch;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

#countdown-text {
    -unity-text-align: middle-left;
    font-size: var(--text-huge);
    color: greenyellow;
    flex-grow: 1;
}
