:root {
    -unity-font-definition: url("project://database/Assets/UI/monogram-extended.ttf?fileID=12800000&guid=5ca88aa0ed910a14ab34417b970d76fd&type=3#monogram-extended");
    --text-small: 32px;
    --text-medium: 36px;
    --text-big: 48px;
    --text-large: 64px;
    font-size: var(--text-small);
    --icon-settings: url("project://database/Assets/UI/Sprites/settings.png?fileID=2800000&guid=ccc58078fa2d7824686143ef2660c1ac&type=3#settings");
    --icon-close: url("project://database/Assets/UI/Sprites/close.png?fileID=2800000&guid=afbb773416b72b046987e849471537da&type=3#close");
    --icon-key-q: url("project://database/Assets/UI/Sprites/Xelu%20Prompts/Keyboard%20Dark/KeyDark_Q.png?fileID=2800000&guid=ac9d4abc8b456c449a2546bd00d966a3&type=3#KeyDark_Q");
    --icon-key-e: url("project://database/Assets/UI/Sprites/Xelu%20Prompts/Keyboard%20Dark/KeyDark_E.png?fileID=2800000&guid=f37f09061207edd4f9657c203a0a13bd&type=3#KeyDark_E");
    --icon-quit: url("project://database/Assets/UI/Sprites/quit.png?fileID=2800000&guid=60599fe8b12ac3c418ac57d7a66c14f4&type=3#quit");
    --button-wide-bg-border: url("project://database/Assets/UI/Sprites/Kenney_Fantasy_UI.png?fileID=-2122115973&guid=20b9f77168ce29b48936f877b6046690&type=3#ui-panel-02-border-only");
    --button-wide-bg: url("project://database/Assets/UI/Sprites/Kenney_Fantasy_UI.png?fileID=802772929&guid=20b9f77168ce29b48936f877b6046690&type=3#ui-panel-02-faded-bg");
    --button-wide-bg-active: url("project://database/Assets/UI/Sprites/Kenney_Fantasy_UI.png?fileID=-1353599367&guid=20b9f77168ce29b48936f877b6046690&type=3#ui-panel-04-full");
    --button-small-bg: url("project://database/Assets/UI/Sprites/Kenney_Fantasy_UI.png?fileID=-1473296621&guid=20b9f77168ce29b48936f877b6046690&type=3#ui-panel-17-full");
}

.button-wide {
    -unity-background-scale-mode: scale-and-crop;
    background-image: var(--button-wide-bg-border);
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
}

.button-wide:disabled {
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
}

.button-wide:enabled:hover {
    border-width: 0;
    background-image: var(--button-wide-bg-border);
    background-color: rgba(0, 0, 0, 0);
}

.button-wide:enabled:active {
    background-image: var(--button-wide-bg-active);
    background-color: rgba(0, 0, 0, 0);
}
.bg-tint-blue:hover {
    -unity-background-image-tint-color: rgb(0, 108, 191);
}

.bg-tint-blue:active {
    -unity-background-image-tint-color: rgb(0, 72, 128);
}

.bg-tint-blue:disabled {
    -unity-background-image-tint-color: rgb(41, 52, 61);
}

.bg-tint-red:hover {
    -unity-background-image-tint-color: rgb(158, 0, 0);
}

.bg-tint-red:active {
    -unity-background-image-tint-color: rgb(117, 0, 0);
}

.bg-tint-red:disabled {
    -unity-background-image-tint-color: rgb(77, 0, 0);
}

.unity-base-dropdown__container-outer {
    margin-top: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.unity-base-dropdown__container-inner {
    background-color: rgba(39, 87, 110, 0.95);
    color: white;
    padding: 0;
}

.unity-base-dropdown__item {
    padding-left: 8px;
}

.unity-base-dropdown__item:checked {
    -unity-background-image-tint-color: rgb(0, 160, 255);
    background-color: rgba(0, 0, 0, 0.15);
}

.unity-base-dropdown__item .unity-base-dropdown__checkmark {
    display: none;
}
